/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(var(--secondary), 1);
    color: white;
    padding: 20px 20px;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .hamburger {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .account-icon {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    margin-left: 20px;
  }
  
  /* Media query for mobile responsiveness */
  @media (max-width: 768px) {
    .navbar-left {
      margin-right: auto;
    }
  }
  