/* Navbar.css */

.navbar {
  position: fixed; /* Set the position to fixed to make it stick to the top */
  top: 0; /* Stick it to the top of the screen */
  left: 0; /* Optionally, you can set the horizontal position as needed */
  width: 100%; /* Make it span the entire width of the screen */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(var(--secondary), 1);
  color: white;
  padding: var(--paddingLeft) 0;
  /* Add other styles as needed */
}
  
.navbar-left {
    display: flex;
    align-items: center;
    padding-left: var(--paddingLeft);
  }

  .hamburger {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    padding-right: var(--paddingLeft);
  }
  
  .account-icon {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    margin-left: var(--paddingLeft);
  }
  
  /* Media query for mobile responsiveness */
  @media (max-width: 768px) {
    .navbar-left {
      margin-right: auto;
    }
  }
  