/* colors.css */

:root {
    --primary: 77, 224, 150;
    --secondary: 35, 84, 102;
    --export: 50, 65, 202;
    --clear: 210, 241, 16;
    --delete: 224, 77, 77;
    --paddingLeft: 20px;
    --spaceFromNavbar: 60px;
  }
  
  body, * {
    font-family: 'Roboto',sans-serif;
  }

  body{
    padding-top: var(--spaceFromNavbar);
    padding-left: var(--paddingLeft);
    padding-right: var(--paddingLeft);
  }